body {
    background: rgba(0, 128, 85, 0.5) /* Green background with 30% opacity */
  }
  
  h2{  
    font-weight: bold;
    color: #000c50;
    font-size: 32px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
