body {
    background: hsl(0, 0%, 21%) /* Green background with 30% opacity */
  }
  
  h2{  
    font-weight: bold;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
h3,h4{
    font-weight: bold;
    color: #ffffff; 
    text-align: center;
    font-family: 'Inter', sans-serif;
}
/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(90, 255, 90);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }