  
  body {
    background: #2E3440  /*#1f1f1f*/
  }
  
  h2{  
    font-weight: bold;
    color: #ECEFF4/*#D8DEE9*/ /*#ffffff*/;
    font-size: 55px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-decoration: underline hsl(210, 34%, 63%) /*#D8DEE9*/ /*white*/;
    
}
h3,h4,p{
    font-weight: bold;
    color: #D8DEE9 /*#ffffff*/ ; 
    text-align: center;
    font-family: 'Inter', sans-serif;

}
h5{
  font-weight: bold;
  color: #D8DEE9 /*#ffffff*/ ;
  font-size: 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
h6{
  font-weight: bold;
  color: #D8DEE9 /*#ffffff*/ ; 
  text-align: center;
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
}

/* Dashed white border */
hr {
  border-top: 3px dashed #D8DEE9 /*#ffffff*/ ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

text{
  font-weight: bold;
  color: #D8DEE9; 
  text-align: center;
  font-family: 'Inter', sans-serif; 
  font-size: 24px;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}